---
import BaseLayout from "./BaseLayout.astro";
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import type { MarkdownLayoutProps } from 'astro';

// Use the sync version with 'eager' option
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpeg,jpg,png,gif}', { eager: true });

type Props = MarkdownLayoutProps<{
  title: string;
  siteTitle: string;
  siteSubtitle: string;
  heroImage: {
    src: string;
    alt: string;
  };
  backgroundImage: {
    src: string;
    alt: string;
  };
  houghtonImage: {
    src: string;
    alt: string;
  };
  harvardxLogo: {
    src: string;
    alt: string;
  };
  mainSectionHeader: string;
  mainSectionContent: string;
  databaseSectionHeader: string;
  databaseSectionContent: string;
  courseSectionHeader: string;
  courseSectionContent: string;
}>;

const { frontmatter } = Astro.props;

// Validate image paths
// See: https://docs.astro.build/en/recipes/dynamically-importing-images/
if (!images[frontmatter.heroImage.src]) throw new Error(`"${frontmatter.heroImage.src}" does not exist`);
if (!images[frontmatter.backgroundImage.src]) throw new Error(`"${frontmatter.backgroundImage.src}" does not exist`);
if (!images[frontmatter.houghtonImage.src]) throw new Error(`"${frontmatter.houghtonImage.src}" does not exist`);
if (!images[frontmatter.harvardxLogo.src]) throw new Error(`"${frontmatter.harvardxLogo.src}" does not exist`);

const heroStyle = `transform: translate3d(0px, 0px, 0px); background: url('${images[frontmatter.heroImage.src].default.src}');`;
const backgroundStyle = `transform: translate3d(0px, 384.395px, 0px); background: url("${images[frontmatter.backgroundImage.src].default.src}");`;
---
<BaseLayout title={frontmatter.title}>
  <main>
    <section class="cover fullscreen headline-image parallax" id="head">
      <div
        class="background-image-holder fadeIn less-blur"
        style={heroStyle}
      >
        <Image
          class="background-image"
          src={images[frontmatter.heroImage.src].default}
          alt={frontmatter.heroImage.alt}
          style="display: none;"
        />
      </div>
      <div class="background-screen"></div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <h1 class="mb40 mb-xs-16 large site-title">
              {frontmatter.siteTitle}
            </h1>
            <p class="lead mb40 site-subtitle">
              {frontmatter.siteSubtitle}
            </p>
            <a
              class="btn btn-lg btn-primary inner-link md-button md-ink-ripple"
              href="#intro"><span>Learn More</span></a
            >
          </div>
        </div>
      </div>
    </section>

    <section id="intro" class="">
      <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-1 text-center">
                <h3 class="uppercase mb40 mb-xs-24">{frontmatter.mainSectionHeader}</h3>
                <p class="lead mb64">{frontmatter.mainSectionContent}</p>
            </div>
        </div>
      </div>
    </section>

    <section class="block learn bg-secondary" id="learn">
      <div class="container">
        <div class="row v-align-children">
          <div class="col-md-7 col-sm-6 text-center mb-xs-24">
            <Image
              class="cast-shadow"
              alt={frontmatter.houghtonImage.alt}
              src={images[frontmatter.houghtonImage.src].default}
              width={1000}
              style="width: 100%; height: auto;"
            />
          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
            <a href="/scrolls">
              <h3>{frontmatter.databaseSectionHeader}</h3>
            </a>
            <p>{frontmatter.databaseSectionContent}</p>
            <a class="btn btn-lg md-button md-ink-ripple" href="/about">
              <span>Get Started</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section
      class="image-bg contributors parallax pt180 pb180 pt-xs-80 pb-xs-80"
      id="archive"
    >
      <div
        class="background-image-holder more-blur--persistent fadeIn"
        style={backgroundStyle}
      >
        <Image
          class="background-image"
          alt={frontmatter.backgroundImage.alt}
          src={images[frontmatter.backgroundImage.src].default}
          style="display: none;"
        />
      </div>
      <div class="background-screen"></div>

      <div class="container">
        <div class="row">
          <div class="contributor-feature text-center">
            <div class="feature">
              <div class="image-wrap text-center">
                <a href="https://harvardx.harvard.edu/" rel="noopener nofollow" target="_blank">
                  <Image 
                    src={images[frontmatter.harvardxLogo.src].default} 
                    alt={frontmatter.harvardxLogo.alt} 
                    class="mb-xs-24 inline-block harvardx"
                    width={300}
                    style="width: auto; height: auto;"
                  />
                </a>
              </div>
              <h4>{frontmatter.courseSectionHeader}</h4>
              <p><Fragment set:html={frontmatter.courseSectionContent} /></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout> 

<style>
  .feature p {
    color: #fff;
  }
</style>