---
// const { frontmatter } = Astro.props;
import type { CollectionEntry } from 'astro:content';
import BaseLayout from "./BaseLayout.astro";
import Metadata from '../components/Metadata.astro';

type Props = CollectionEntry<'scrolls'>['data'];

// const { meta_title, slug, language_1, length } = Astro.props;
const scroll = Astro.props as Props;
// Formatted date should be either a single date or a range or an empty string if neither
let formattedDate = '';
if (scroll.date_start && scroll.date_end){
    formattedDate = `${scroll.date_start} - ${scroll.date_end}`;
} else if (scroll.date_start) {
    formattedDate = scroll.date_start;
} else if (scroll.date_end) {
    formattedDate = ` - ${scroll.date_end}`;
}

let formattedLanguage = '';
if (scroll.language_1 && scroll.language_2) {
    formattedLanguage = `${scroll.language_1}, ${scroll.language_2}`;
} else if (scroll.language_1) {
    formattedLanguage = scroll.language_1;
}

// Could use HeadlineImage if that didn't require a title
import scrollImg from '../images/houghton_scroll5.jpg';
const headlineStyle = `transform: translate3d(0px, 0px, 0px); background: url('${scrollImg.src}');`
---
<BaseLayout title={scroll.meta_title}>
    <main>
        <article class="single post-type-scroll">
            <section class="headline-image page-headline-image parallax ">
                <div class="background-image-holder fadeIn less-blur" style={headlineStyle}>
                    <img alt="Background Image" class="background-image" src={scrollImg.src} style="display: none;">
                </div>
                <div class="background-screen"></div>
            </section>

            <section class="article-content">
                <div class="article-body" data-pagefind-body>
                    {scroll.language_1 && <span style="display:none;" data-pagefind-meta=`language:${formattedLanguage}`></span>}
                    {formattedDate && <span style="display:none;" data-pagefind-meta=`date:${formattedDate}`></span>}
                    {scroll.type && <span style="display:none;" data-pagefind-meta=`type:${scroll.type}`></span>}
                    {scroll.description && <span style="display:none;" data-pagefind-meta=`description:${scroll.description}`></span>}
                    {scroll.date_start && <span style="display:none;" data-pagefind-filter=`date_start:${scroll.date_start}`></span>}
                    {scroll.date_end && <span style="display:none;" data-pagefind-filter=`date_end:${scroll.date_end}`></span>}
                    {scroll.language_1 && <span style="display:none;" data-pagefind-filter=`language:${scroll.language_1}`></span>}
                    {scroll.language_2 && <span style="display:none;" data-pagefind-filter=`language:${scroll.language_2}`></span>}
                    <h1 data-pagefind-meta="title">{scroll.meta_title}</h1>
                    <Metadata item={scroll.repository_name_and_city} classNames="repository">
                        <span class="label">Repository:</span> <span class="value" data-pagefind-filter="repository">{scroll.repository_name_and_city}</span>
                    </Metadata>
                    <Metadata item={formattedDate} classNames="date">
                        <span class="label">Date:</span> <span class="date-formatted">{formattedDate}</span>
                    </Metadata>
                    <Metadata item={scroll.date_quality} classNames="date-quality">
                        <span class="label">Date quality:</span> <span class="value">{scroll.date_quality}</span>
                    </Metadata>
                    <Metadata item={`${scroll.length} x ${scroll.width}`} classNames="dimensions">
                        <span class="label">Dimensions:</span> <span class="value">{scroll.length}cm x {scroll.width}cm</span>
                    </Metadata>
                    <Metadata item={scroll.number_of_pieces} classNames="number-of-pieces">
                        <span class="label">Number of pieces:</span> <span class="value">{scroll.number_of_pieces}</span>
                    </Metadata>
                    <Metadata item={scroll.type} classNames="type">
                        <span class="label">Type:</span> <span class="value" data-pagefind-filter="type">{scroll.type}</span>
                    </Metadata>
                    <Metadata item={formattedLanguage} classNames="language">
                        <span class="label">Language(s):</span> <span class="value">{formattedLanguage}</span>
                    </Metadata>
                    <Metadata item={scroll.shelfmark} classNames="shelfmark">
                        <span class="label">Shelfmark:</span> <span class="value">{scroll.shelfmark}</span>
                    </Metadata>
                    <Metadata item={scroll.provenance} classNames="provenance">
                        <span class="label">Provenance:</span> <span class="value">{scroll.provenance}</span>
                    </Metadata>
                    <Metadata item={scroll.provenance_quality} classNames="provenance-quality">
                        <span class="label">Provenance quality:</span> <span class="value">{scroll.provenance_quality}</span>
                    </Metadata>
                    <div class="longer-meta">
                        <Metadata item={scroll.contents} classNames="contents">
                            <span class="label">Contents:</span> <span class="value">{scroll.contents}</span>
                        </Metadata>
                        <Metadata item={scroll.description} classNames="description">
                            <span class="label">Description:</span> <span class="value">{scroll.description}</span>
                        </Metadata>
                        <Metadata item={scroll.online_bibliography_record} classNames="biblio">
                            <span class="label">Bibliography:</span> <span class="value"><a href={scroll.online_bibliography_record}>{scroll.online_bibliography_record}</a></span>
                        </Metadata>
                        <Metadata item={scroll.online_images} classNames="online-images">
                            <span class="label">Online images:</span> <span class="value"><a href={scroll.online_images}>{scroll.online_images}</a></span>
                        </Metadata>
                    </div>
                </div>
                <div class="media-wrap">

                </div>
            </section>
            <slot />
        </article>
    </main>
    
</BaseLayout>